/* p {
    margin-bottom: 15px !important;
} */

h2 {
    color: #ea6267 !important;
}

details {
    margin-bottom: 25px;
}

summary {
    padding: 5px;
    background-color: #eee;
    font-weight: 600;
    cursor: pointer;
}

summary:focus, summary:active { outline: none; }

.wy-nav-content {
    max-width: none;
}